<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="input-group mb-3">
		<span class="input-group-text"> 
			<input type="checkbox" ng-model="todo.completed" ng-click="update()">
		</span> <input type="text" class="form-control" ng-model="todo.title" ng-blur="update()">
		<div class="input-group-append">
			<button class="btn btn-danger" type="button" ng-click="remove(todo)">삭제</button>
		</div>
	</div>
	<date>{{todo.createdAt | date:"yyyy-MM-dd HH:mm:ss"}}</date>
</body>
</html>